* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-1: rgb(5, 5, 46);
    --shadow-1: 0px 0px 6px 2px gray;
    --shadow-2: 0 0 10px 10px rgb(5, 5, 46);
    --color-white: #fff;
    --color-dark: #000;
    /* --color-green: rgb(184, 96, 25); */
    --transition-1: transition: all 0.3s ease;
    --container-sm: 100%;
    --container-md: 95%;
    --container-lg: 90%;
}

body {
    background-color: var(--bg-color-1);
    color: var(--bg-color-1);
    position: relative;
    user-select: none;
}

.--d-none {
    display: none;
}

.main-container {
    width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.home-page,
.message-inner-chart,
.settings {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background-color: var(--bg-color-1)
}

.settings {
    left: 0;
    background-color: var(--color-white);
}

.home-page {
    left: 100%;
}

.message-inner-chart {
    left: 200%;
    background-color: var(--bg-color-1);
}


/* style all fix element here */

.add-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 11;
    width: 4rem;
    height: 4rem;
    color: var(--color-white);
    background-color: var(--bg-color-1);
}

.all-users-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 15;
    /* background-color: blueviolet; */
}

.reverse {
    animation-name: reverseejmAnimate;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.verse {
    animation-name: emjAnimate;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.emj-container {
    /* transition: all 0.5s ease; */
    overflow: auto;
    padding: 1rem;
    background-color: rgb(85, 84, 84);
    position: fixed;
    bottom: calc(10vh + 0.3rem);
    z-index: 13;
    left: .6rem;
    border-radius: .5rem;
    opacity: 0.8;
}

.mini-emj-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.3rem;
    column-gap: 0.5rem;
}

.moreoptions-container {
    width: 100%;
    height: 100px;
    max-height: 60%;
    position: fixed;
    bottom: 0;
    background-color: var(--color-white);
    animation-name: moreAnimate;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    z-index: 16;
    box-shadow: var(--shadow-1);
    border-radius: 2rem 2rem 0 0;
    overflow-x: hidden;
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

.moreoptions {
    /* background-color: lightgoldenrodyellow; */
    margin: 0 auto;
    width: var(--container-sm);
    height: 100%;
    position: relative;
    padding: 1rem 1rem;
}

.drag-btn {
    padding: 0.3rem 2rem;
    background-color: var(--bg-color-1);
    margin: 0 auto;
    position: absolute;
    top: 5px;
    left: calc(50% - 2rem);
    z-index: 15;
    border-radius: 5px;
}

.drag-btn:hover {
    transition: all 0.3 ease;
    background-color: darkcyan;
}

.user-alert {
    left: -2000%;
    position: fixed;
    width: 200px;
    background-color: orangered;
    height: 50px;
    z-index: 13;
    bottom: 1rem;
    border-radius: 10px;
}

.slide-right {
    animation-name: slideright;
    animation-duration: 10s;
    animation-fill-mode: both;
}

.header {
    width: 100%;
    padding: 1rem 0.2rem;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 12rem;
}

.header h2 {
    font-size: 2.4rem;
    padding: 0.4rem 1rem;
    overflow: hidden;
}

.header .input-searchusers {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-1);
    margin: 1rem 0.4rem;
}

.input-searchusers input {
    outline: none;
    border: none;
    padding: 1rem;
}

.input-searchusers span {
    display: flex;
    align-items: center;
}

.input-searchusers span:nth-child(1) {
    justify-content: end;
}

.input-searchusers input:focus {
    transition: all 0.3s ease;
    padding-left: 2rem;
    caret-color: green;
    font-size: 1.2rem;
}

.input-searchusers input::placeholder {
    font-size: 1rem;
    font-style: oblique;
    color: var(--bg-color-1);
    text-shadow: 0 0 2px var(--bg-color-1);
}

.users-container {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: 80vh;
    overflow: auto;
    padding: 1rem 0;
    padding-bottom: 8rem;
}

.user-container {
    grid-template-columns: 20% 80%;
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    padding: 1rem 0;
    align-items: center;
    padding: 0.4rem 1rem;
}

.users-container .img-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navigation-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    width: 100%;
    z-index: 12;
    background-color: antiquewhite;
    border-radius: 1rem;
    width: 95%;
    left: calc(2.5%);
    text-align: center;
    box-shadow: var(--shadow-2);
    user-select: none;
}


/* end of the style */


/* style uses full thing inorder to shorten the code */

.fit-img {
    width: 100%;
    height: 100%;
}

.circle {
    border-radius: 50%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* end of the style here  */


/* the header styling here  */

.header-container {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    color: var(--color-white);
    background-color: var(--bg-color-1);
    height: 10vh;
    align-items: center;
}

.header-container span {
    text-align: right;
    padding-right: 0.5rem;
}


/* end of the header styling here */


/* message container */

.message-container {
    padding: 1rem 0.3rem;
    height: 90vh;
    background-color: var(--color-white);
    border-radius: 2rem 2rem 0px 0px;
    overflow-y: auto;
}

.messagebox {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0.4rem 0;
    align-items: center;
    line-height: 1.4;
}

.message_right div {
    display: flex;
    justify-content: space-between;
}

.message_right div h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

.message_right div span {
    font-size: 0.6rem;
    padding-right: 0.2rem;
    font-style: italic;
    font-weight: 900;
}

.message_right div p {
    padding-left: 0.2rem;
    font-style: oblique;
    font-size: 0.9rem;
}

.message_right div .number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-white);
    background-color: var(--bg-color-1);
    font-size: 0.5rem;
    /* color: var(--color-green) */
}


/* end of message container */


/* styles for message inner chart header */

.message-inner-chart {
    background-color: var(--bg-color-1);
}

.message-inner-chart-header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* height: 10vh; */
    text-align: left;
    color: var(--color-white);
    background-color: var(--color-white);
    box-shadow: var(--shadow-2);
    color: var(--bg-color-1);
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 15;
    padding: 0.5rem 0;
}

.message-inner-chart-header span {
    text-align: left;
    padding-left: 1rem;
}

.message-inner-chart-box {
    /* margin-top: 5rem; */
    padding: 6rem 0;
    height: 90vh;
    overflow-y: auto;
    position: relative;
    background-color: var(--color-white);
    border-radius: 0 0 2rem 2rem;
}

.message-inner-chart-header .img-- {
    justify-content: end;
    display: flex;
    padding-right: 0.5rem;
}

.message-inner-chart-header h2 {
    overflow: hidden;
    font-style: oblique;
    font-size: 1.2rem;
    text-align: center;
}

.--name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.--name-container div:nth-child(2) {
    font-size: 0.7rem;
}

.online-status-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 3px;
    font-style: italic;
    color: var(--color-dark);
}

.online-status {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
}

.message-inner-chart-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.flex-end {
    justify-content: end;
}

.message-inner-chart-box div {
    position: relative;
    display: flex;
    padding-right: 1rem;
}

.message {
    padding: 0.5rem;
    position: relative;
    width: fit-content;
    max-width: 80%;
    display: flex;
    align-items: center;
    word-break: break-all;
    line-height: 1.5;
    margin: 4px 5px;
    user-select: none;
    overflow: hidden;
}

.message img {
    transform: scale(1.2);
    width: 100%;
}

.recieve-message {
    border-radius: 10px 10px 10px 0px;
    background-color: var(--bg-color-1);
    color: #fff;
    box-shadow: 0px 0px 20px 1px gray;
    margin-left: 1rem;
}

.send-message {
    border-radius: 10px 10px 0px 10px;
    padding: 0.5rem;
    background-color: var(--color-white);
    color: var(--bg-color-1);
    box-shadow: 0px 0px 20px 1px var(--bg-color-1);
    flex: end;
}

.input-inner-chart {
    color: var(--color-white);
    background-color: var(--bg-color-1);
    display: grid;
    grid-template-columns: 10% 75% 15%;
    background-color: var(--bg-color-1);
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    z-index: 15;
    bottom: 0;
    background-color: rgb(5, 5, 46);
}

.input-inner-chart input {
    border-radius: 10px;
    border: none;
    background-color: rgb(5, 5, 46);
    font-size: 1rem;
    padding-left: 5px;
    font-weight: 500;
    color: white;
    padding: 1.5rem 0;
}

.input-inner-chart input::placeholder {
    padding-left: 5px;
    font-weight: 500;
    color: white;
}


/* end of styling here  */

@keyframes emjAnimate {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 60%;
        height: 150px;
    }
}

@keyframes reverseejmAnimate {
    from {
        width: 60%;
        height: 150px;
    }
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

@keyframes moreAnimate {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0
    }
}

@keyframes slideright {
    from {
        left: -300%;
    }
    80%,
    90% {
        left: 1rem;
    }
    to {
        left: -300%;
    }
}